#revenue-chart-table{
	position: relative; 
	min-height: 500px;
}
.view_chart_table{
	text-align: center;
	height: 45px;
    line-height: 45px;
    font-weight: bold;
    margin-bottom: 0;
}
.view_chart_table:hover{
	cursor: pointer;
}
.view_all_more{
	height: auto!important;
}







#theme-panel {
    color: #333;
}
#theme-panel {
    position: fixed;
    width: 290px;
    height: auto;
    top: 150px;
    min-height: 200px;
    text-align: left;
    background: white;
    border: 1px solid #f1f1f1;
    z-index: 1000;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#theme-panel a.panel-btn {
    position: absolute;
    font-size: 30px;
    width: 50px;
    height: 50px;
    background: white;
    right: 288px;
    top: 30px;
    text-align: center;
    line-height: 47px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.colors-container {
    width: 100%;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 15px;
        margin-bottom: 20px;
}
.panel-open{
	right: 0px;
}
.panel-close {
    right: -290px;
}


.log-icon {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    background: #3EBEE4;
    margin: 5px 5px 0 0;
}
.small {
    font-size: 12px;
}
.italic {
    font-style: italic;
}
.capitalize {
    text-transform: capitalize;
}