.profile-userpic .modal-dialog {
    width: 670px;
}
.profile-userpic .modal-body {
    height: 450px;
    overflow-y: scroll;
}
.avatar_img:hover{
	cursor: pointer;
}

.bootstrap-datetimepicker-widget {
    top: 601px;
    left: 428px;
   }


.warning_mess{
	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
        border-radius: 3px;
        padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #FF9800;
}
#edit-slug-box #btn-cancel-slug {
    margin-right: 10px;
    padding: 0;
    font-size: 11px;
    text-decoration: underline;
    color: #0073aa;
    margin: 0;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    background: 0 0;
    outline: 0;
    cursor: pointer;
    display: none;
}
#btn-ok-slug, #change_slug {
    height: 24px;
    line-height: 22px;
    padding: 0 8px 1px;
    font-size: 11px;
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
}
#editable-post-name input {
    font-size: 13px;
    font-weight: 400;
    height: 22px;
    margin: 0;
    width: 16em;
    display: inline-block;
}